<div class="bg-nubes bg-cover bg-center h-screen">

  <app-navbar></app-navbar>
  <app-footer></app-footer>

  <div (click)="navToHome()" class="hover:cursor-pointer flex justify-center items-center py-4 px-10 pt-8">
    <img class="h-6" src="./../../../../assets/img/kohue-name-dark.svg" alt="">
  </div>



  <div class="m-auto max-w-72 sm:max-w-lg">
    <div class="text-center text-xdark font-bold text-xl mt-6 sm:mt-10 sm:mb-4 uppercase">
      <!-- Acquire -->
    </div>
  </div>


  <div class="m-auto w-3/4 rounded-lg">


    <div class="m-auto pt-4 pb-6 max-w-sm sm:max-w-3xl text-center align-middle text-sm sm:text-base font-normal text-gray-900">
      Our wines are offered to mailing list members annually.<br>
      We invite you to join our mailing list to access future releases and updates
    </div>

  </div>

  <div class="flex gap-6 justify-center pt-8">

    <div (click)="navJointhelist()"
      class="font-serif text-xdark text-center hover:text-black hover:cursor-pointer text-xs sm:text-base font-medium px-6 py-2 uppercase">
      Join the List
    </div>
    <div (click)="navMembersArea()"
      class="font-serif text-xdark text-center hover:text-black hover:cursor-pointer text-xs sm:text-base font-medium px-6 py-2 uppercase">
      Members Log in
    </div>

  </div>

</div>
