<app-navbar></app-navbar>



<div class="m-auto max-w-72 sm:max-w-lg">
  <div class="text-center font-bold text-xl mt-6 sm:mt-10 sm:mb-4">
    Acquire
  </div>

  <div class="flex flex-row py-8 text-center align-middle text-base font-normal text-gray-900">

    Thank you for your interest in Kohue Wines!<br>
    Our wines are offered to our members mailing list annually.<br>
    We invite you to join our mailing list to access future releases and updates.

  </div>
</div>

<div class="flex gap-6 justify-center pt-8">

  <div (click)="navJointhelist()" class="text-xdark text-center items-center hover:underline hover:cursor-pointer text-xl font-medium px-6 py-2 uppercase">
      Join the List
  </div>
  <div (click)="navMembersArea()" class="text-xdark text-center items-center hover:underline hover:cursor-pointer text-xl font-medium px-6 py-2 uppercase">
      Members Log in
  </div>

</div>

