@if(showPolicy == true) {
<app-shipping-policy-modal (showStayTuned)="fromShippingPolicy($event)"></app-shipping-policy-modal>
}

@if(showCartInNav == true) {


<!-- <div> EStoy NAV</div> -->
<div
  class="fixed border-l-4 top-0 right-0 bg-red z-40 w-72 sm:w-96 h-screen p-4 overflow-y-auto transition-transform bg-white">
  <div class="w-full max-w-md p-4 bg-white border border-gray-200 rounded-lg shadow">
    <div class="flex items-center justify-between mb-4">
      <h5 class="text-xl font-bold leading-none text-gray-700">My Cart</h5>
      <button class="border rounded relative" (click)="closeCart()">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
          class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
        </svg>
      </button>
    </div>
    <div class="flow-root pt-4">
      <ul role="list" class="divide-y divide-gray-200">
        @for (product of cart(); track $index) {
        <li class="py-3 sm:py-4">
          @if(product.quantity >= 0) {
          <div class="grid grid-cols-3 items-center">

            <div class="col-span-1">
              <img class="max-h-32 m-auto" [src]="product.imageMobile" [alt]="product.title">
            </div>

            <div class="col-span-2 flex flex-col gap-2">

              <div class="text-sm text-gray-700">
                {{ product.titleCart }}
              </div>

              <div class="inline-flex items-center text-base font-semibold text-gray-700">
                ${{ product.price }}
              </div>

              <!-- @if(product.quantity >= 8) {
              <div class="text-center m-auto">
                <div class="flex gap-4 sm:gap-4">aaa
                  <div (click)="subtractOneFromCart(product)" class="minibutton">-</div>
                  <div class="minibuttonReverse">{{ product.quantity }}</div>
                  <div class="minibuttonOf">-</div>
                </div>
              </div>
              } -->

              @if(product.quantity == 3) {
              <div class="text-center m-auto">
                <div class="flex gap-4 sm:gap-4">
                  <div (click)="subtractOneFromCart(product)" class="minibutton">-</div>
                  <div class="minibuttonReverse">{{ product.quantity }}</div>
                  <div class="minibuttonOf">-</div>
                </div>
              </div>
              <!-- <div class="font-light text-center p-2 text-blue-500">
                  <span class="hover:cursor-pointer" (click)="removeProduct(product)">remove</span>
                </div> -->
              }

              @if(product.quantity >= 1 && product.quantity <= 2) { <div class="text-center m-auto">
                <div class="flex gap-4 sm:gap-4">
                  <div (click)="subtractOneFromCart(product)" class="minibutton">-</div>
                  <div class="minibuttonReverse">{{ product.quantity }}</div>
                  <div (click)="addOneFromCart(product)" class="minibutton">+</div>
                </div>
            </div>
            <!-- <div class="font-light text-center p-2 text-blue-500">
                <span class="hover:cursor-pointer" (click)="removeProduct(product)">remove</span>
              </div> -->
            }

            @if(product.quantity == 0) {
            <div class="text-center m-auto">
              <div class="flex gap-4 sm:gap-4">
                <div class="minibuttonOf">-</div>
                <div class="minibuttonReverse">{{ product.quantity }}</div>
                <div (click)="addOneFromCartFromZero()" class="minibutton">+</div>
              </div>
            </div>
            }

          </div>
    </div>
    }
    </li>
    }
    </ul>
    @if(totalItems() > 0) {
    <div class="items-center text-base font-semibold text-gray-700">

      @if(totalItems() == 3) {
      <div class="font-light text-xs text-center pb-2 text-xdark">
        <span class="">You've reached the maximum quantity limit.</span>
      </div>
      }

      <!-- @if(totalItems() >= 4) {
      <div class="font-light text-xs text-center pb-2 text-xdark">
        <span class="font-bold text-red-500">The maximun quantity product is 4.</span>
      </div>
      } -->

      <div class="text-right my-2 font-normal hover:cursor-pointer">
        <!-- Shipping {{ shippingText() }} <span class="font-semibold"> $ {{ shippingAmount() }}</span> -->
        Shipping <app-shippingmethod></app-shippingmethod>
        <span class="font-semibold"> $ {{ shippingAmount() }}</span>
      </div>
    </div>

    <div class="mt-4">

      @if(shippingAmount() || shippingText() == "Local Pick up") {
      <div (click)="checkoutToStripe()" class="button paddingOff">
        ${{ totalAmount()}} - Checkout
      </div>
      <!-- @if(totalItems() == 1){
        <div (click)="checkoutToStripe()" class="button paddingOff">
          ${{ totalAmount()}} - Checkout - 1
        </div>
        }
        @if(totalItems() == 2){
        <div (click)="checkoutToStripe()" class="button paddingOff">
          ${{ totalAmount()}} - Checkout - 2
        </div>
        } -->
      }

      <!-- @if(totalItems() == 1 && shippingAmount() > 1){
        <div (click)="checkoutToggleCartToLand()" class="button">
          ${{ totalAmount()}} - Checkout--55
        </div>
        }

        @if(totalAmount() && shippingAmount() > 0){
        <div (click)="checkoutToggleCartToLand()" class="button">
          ${{ totalAmount()}} - Checkout
        </div>
        } -->

      @if(shippingAmount() == 0 && shippingText() != "Local Pick up") {
      <div (click)="alertAddShippingMethod()" class="button_off">
        ${{ totalAmount() }} - Checkout
      </div>
      }
    </div>


    }

    <div class="font-light text-xs text-center pb-2 text-xdark pt-6">
      <span (click)="showShippingPolicy()" class="cursor-pointer underline">Shipping Policy.</span>
    </div>

    <div class="font-light text-xs text-center pb-2 text-xdark pt-4">
      <!-- <span class="">You must be 21 years or older to purchase.</span><br> -->
      <div class="pb-2">For assistance, please call 707-344-4251 or email us at info&#64;kohuewines.com.</div>
      <div class="pb-2">State laws require someone 21 years of age or older to order online and to sign for the package
        at
        delivery. It is preferable to ship to a business address.</div>
      <div class="pb-2">Shipments will begin in November. If you need a rush order, please contact us.</div>
      <div class="">Please note that Tupungato Wine Company is the importing company for Kohue Wines and will be the
        responsible party for charging your credit card.</div>
    </div>

  </div>
</div>
</div>

}


@if(showCartInLand == true) {

<div class="mt-3 sm:mt-0 w-full max-w-md px-4 bg-transparent border border-gray-500 rounded-lg shadow">
  <div class="flow-root">
    <ul role="list" class="divide-y divide-gray-200">
      @for (product of cart(); track $index) {
      <li class="py-3 sm:py-4">
        @if(product.quantity >= 0) {
        <div class="grid grid-cols-3 items-center">

          <div class="col-span-1">
            <img class="m-auto max-h-40" [src]="product.image" [alt]="product.title">
          </div>

          <div class="col-span-2 flex flex-col gap-2">

            <div class="text-sm text-gray-700 truncate">
              {{ product.title }}
            </div>

            <div class="inline-flex items-center text-base font-semibold text-gray-700">
              ${{ product.price }}
            </div>


            @if(product.quantity >= 1) {
            <div class="text-center m-auto">
              <div class="flex gap-4 sm:gap-4">
                <div (click)="subtractOneFromCart(product)" class="minibutton">-</div>
                <div class="minibuttonReverse">{{ product.quantity }}</div>
                <div (click)="addOneFromCart(product)" class="minibutton">+</div>
              </div>
            </div>

            }

            @if(product.quantity == 0) {
            <div class="text-center m-auto">
              <div class="flex gap-4 sm:gap-4">
                <div class="minibuttonOf">-</div>
                <div class="minibuttonReverse">{{ product.quantity }}</div>
                <div (click)="addOneFromCartFromZero()" class="minibutton">+</div>
              </div>
            </div>
            }

          </div>
        </div>
        }
      </li>
      }
    </ul>
    @if(totalItems() > 0) {
    <div class="items-center text-base font-semibold text-gray-700">

      <div class="text-right my-2 font-normal hover:cursor-pointer">
        Shipping {{ shippingText() }} <span class="font-semibold"> $ {{ shippingAmount() }}</span>
      </div>
    </div>

    <div class="mt-4">
      @if(totalAmount() && shippingAmount() > 0){
      <div class="text-right my-2 font-normal">
        Total ${{ totalAmount()}}
      </div>
      }
      @if(totalAmount() && shippingAmount() == 0) {
      <div class="button_off">
        Total ${{ totalAmount() }}
      </div>
      }
    </div>

    }

  </div>
</div>

}
