<div class="m-auto min-w-80 max-w-4xl rounded-lg text-center">

  <div class="border border-gray-500 rounded-lg shadow">

    <div class="creditCard w-2/3 m-auto">
      <div class="StripeElementContainer">
        <div #cardInfo class="cardInput" id="card-element"></div>
        @if(cardError) {
        <div class="error">
          {{ cardError }}
        </div>
        }
      </div>

      <!-- <div (click)="createTokenAndPay()">Create Token + pay $15</div> -->


      <!--<button (click)="clickPay()">Paagcfdfar</button>
  <button (click)="clickPaycreatePaymentMethod()">clickPaycreatePaymentMethod</button>  -->
    </div>

    <div class="mt-12 pt-4">

    @if(totalAmount()) {
      <div>daleeee {{ totalAmount() }}</div>
      }
      <div class="button" (click)="startPayment()">Start Pay of  {{ totalAmount() }}</div>

    </div>
    <div (click)="createStripeUser()">Create User (no need the card)</div>
    <div (click)="testAPI()">testea API (no need the card)</div>

  </div>

</div>
<!--
<div class="flower">
  <img width="400px" height="300px" src="../assets/flower.jpg"/>
  <div class="text"> Buy a beatiful flower for <strong> 20$</strong></div>
</div>

<div class="content card">
  <h2 class="title"> Payment </h2>

  <form action="/charge" method="post" id="payment-form">

    <div class="paymentBox">
      <div id="card-element">
      </div>

      <button id="button"> Pay </button>
      <div id="card-errors" role="alert"></div>
    </div>

  </form>
</div> -->
