<!-- <p>landshop works!</p> -->
<!-- <app-navbarsigned></app-navbarsigned> -->
<app-navbarsigned
(showMonoproduct)="fromNavbar($event)"
(cartOnOff)="fromNavbarCart($event)"></app-navbarsigned>

@if(showCart == true) {
  <app-cart (cartOnOff)="fromNavbarCart($event)"></app-cart>
}
<!--
@if(showWine == true) {
  <app-monoproduct></app-monoproduct>
} -->
<!-- <app-shippingmethod></app-shippingmethod> -->
<app-monoproduct (cartOnOff)="fromProduct($event)"></app-monoproduct>

@if(showEditAccount == true) {
  <app-edit></app-edit>
}

