<!-- <p>landshop works!</p> -->
<!-- <app-navbarsigned></app-navbarsigned> -->
<div class="fixed w-full z-10">
  <app-navbarsigned (showMonoproduct)="fromNavbarMonoproduct($event)" (cartOnOff)="fromNavbarCart($event)"
    (showAccount)="fromNavbarAccountHandler($event)">
  </app-navbarsigned>
</div>

<div class="pt-14">


  <!-- <div class="m-auto sm:flex sm:flex-row min-w-80 max-w-4xl p-2 rounded-lg sm:p-6 md:p-8 text-center">
    <div class="sm:w-7/12">
      <app-card-stripe></app-card-stripe>
    </div>
    <div class="sm:w-5/12">
      @if(showCart == true) {
      <app-cart (cartOff)="fromNavbarCart($event)"></app-cart>
      }
    </div>
  </div> -->


  @if(showCart == true) {
  <app-cart (cartOff)="fromNavbarCart($event)"></app-cart>
  }

  <div [class.hidden]="!showCart">
    <app-cart (cartOff)="fromNavbarCart($event)"></app-cart>
  </div>



  @if(showWine == true) {
  <app-monoproduct (cartOnOff)="fromProduct($event)"></app-monoproduct>
  }
  <!-- <app-shippingmethod></app-shippingmethod> -->
  <!-- <app-monoproduct (cartOnOff)="fromProduct($event)"></app-monoproduct> -->

  <!-- <div class="hidden" [class="showEditAccount"]> -->
  <div [class.hidden]="!showEditAccount">
    <app-edit></app-edit>
  </div>


</div>

<app-footer></app-footer>
