
<div class="block sm:hidden bg-cordillera-vertical bg-top cover_background_tallest_screens">
  <div class="h-screen">

    <!-- <div class="flex justify-center items-center pt-16">
      <img class="h-20" src="./../../../../assets/img/kohue-sello-dark.svg" alt="">
    </div> -->
    <div class="flex justify-center items-center py-4 px-10 pt-40">
      <img class="h-5" src="./../../../../assets/img/kohue-name-dark.svg" alt="">
    </div>

    <div class="flex gap-3 justify-center pt-0">

      <!-- <div (click)="navJointhelist()" class="text-xdark text-center items-center hover:underline hover:cursor-pointer text-lg font-medium px-6 py-2 uppercase">
          Join the List
      </div> -->
      <div (click)="navJointhelist()" class="font-serif text-xdark text-center items-center hover:text-black hover:cursor-pointer text-sm font-medium px-2 py-2 uppercase">
          Join the List
      </div>
      <div (click)="navToShopArea()" class="font-serif text-xdark text-center items-center hover:text-black hover:cursor-pointer text-sm font-medium px-2 py-2 uppercase">
          Members
      </div>

    </div>


  </div>
</div>

<div class="hidden sm:block bg-cordillera-sepia bg-top cover_background_tallest_screens">
  <div class="h-screen">

    <!-- <div class="flex justify-center items-center pt-16">
      <img class="h-20" src="./../../../../assets/img/kohue-sello-dark.svg" alt="">
    </div> -->
    <div class="flex justify-center items-center py-4 px-10 pt-36">
      <img class="h-8" src="./../../../../assets/img/kohue-name-dark.svg" alt="">
    </div>

    <div class="flex gap-4 justify-center pt-2">

      <!-- <div (click)="navJointhelist()" class="text-xdark text-center items-center hover:underline hover:cursor-pointer text-lg font-medium px-6 py-2 uppercase">
          Join the List
      </div> -->
      <div (click)="navJointhelist()" class="font-serif text-xdark text-center items-center hover:text-black hover:cursor-pointer text-sm font-medium px-2 py-2 uppercase">
          Join the List
      </div>
      <div (click)="navToShopArea()" class="font-serif text-xdark text-center items-center hover:text-black hover:cursor-pointer text-sm font-medium px-2 py-2 uppercase">
          Members
      </div>

    </div>


  </div>
</div>
