
<div class="bg-cordillera-sepia bg-top cover_background_tallest_screens">
  <div class="h-screen">

    <div class="flex justify-center items-center pt-16">
      <img class="h-20" src="./../../../../assets/img/kohue-sello-dark.svg" alt="">
    </div>
    <div class="flex justify-center items-center py-6 px-10">
      <img class="h-10" src="./../../../../assets/img/kohue-name-dark.svg" alt="">
    </div>

    <div class="flex gap-6 justify-center pt-8">

      <div (click)="navJointhelist()" class="text-xdark text-center items-center hover:underline hover:cursor-pointer text-lg font-medium px-6 py-2 uppercase">
          Join the List
      </div>
      <div (click)="navToShopArea()" class="text-xdark text-center items-center hover:underline hover:cursor-pointer text-lg font-medium px-6 py-2 uppercase">
          Members
      </div>

    </div>


  </div>
</div>
