@if(stripeOrders.length >= 1){
<div class="m-auto mb-2 sm:mb-0 sm:mt-6 min-w-80 max-w-4xl p-2  sm:p-6 md:p-8 text-center">
  <div class="grid border border-gray-500  shadow">

    <div class="flex flex-col gap-4 text-sm sm:text-lg m-auto py-4 px-2">
      @if(stripeOrders.length > 1) {
      <div class="font-semibold">
        Thank you for your purchases
      </div>
      }
      @if(stripeOrders.length == 1) {
      <div class="font-semibold">
        Thank you for your purchase
      </div>
      }
      <div class="font-normal sm:max-w-md">
        @for (order of stripeOrders; track $index) {
          <div class="mb-4">
            <p>On {{ order.createdAt | date:'fullDate' }}</p>
            @for (item of order.lineItems; track $index) {
              <p>Product: {{ item.description }}</p>
              <p>Quantity: {{ item.quantity }}</p>
              <p>Subtotal: {{ item.amount_subtotal / 100 }}</p>
              <p>Price: {{ item.price.unit_amount / 100 }}</p>
            }
          </div>
        }
      </div>
    </div>

  </div>
</div>

}
