input {
  border-width: 1px;
  &.is-valid {
    border: 1px solid rgb(129, 226, 129);
    background-color: rgb(245, 253, 243);
  }
  &.is-invalid {
    border: 1px solid rgb(255, 186, 186);
    background-color: rgb(254, 242, 242);
  }
}


.messages {
  opacity: 0;
  transition: all 1.2s ease-in;
  &.active {
    opacity: 1;
  }
}

button {
  &.buttonDisabled {
    background-color: lightgrey;
  }
}


.green {
  color: aqua;
  background: red;
}
