<app-admin-navbar></app-admin-navbar>

@if (client) {

<div
  class="m-auto min-w-80 p-4  rounded-lg sm:border md:shadow-md sm:p-6 md:p-8 md:border-gray-200 dark:bg-gray-800 md:dark:border-gray-700">

  <form [formGroup]="form" (ngSubmit)="saveClient($event)">

    <div class="grid gap-6 mb-6 sm:grid-cols-3">
      <div>
        <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
          First Name:
        </label>
        <input type="text" formControlName="firstname"
          class="bg-gray-50 border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5"
          [class.is-valid]="isfirstnameFieldValid" [class.is-invalid]="isfirstnameFieldInvalid" />
        <div class="messages absolute" [class.active]="firstnameField!.touched && firstnameField!.invalid">
          @if (firstnameField!.hasError('minlength')){<div class="pb-4 pt-1 text-sm text-red-600">
            At Least 3 letters please</div> }
        </div>
      </div>

      <div>
        <label class="block mb-2 text-sm font-medium text-gray-900">
          Last Name:
        </label>
        <input type="text" formControlName="lastname"
          class="x_input"
          [class.is-valid]="islastnameFieldValid" [class.is-invalid]="islastnameFieldInvalid" />
        <div class="messages absolute" [class.active]="lastnameField!.touched && lastnameField!.invalid">
          @if (lastnameField!.hasError('minlength')){<div class="pb-4 pt-1 text-sm text-red-600">
            At Least 3 letters please</div> }
        </div>
      </div>

      <div>
        <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
          Fullname:
        </label>
        <input type="text" formControlName="fullname"
          class="bg-gray-50 border-gray-300 text-gray-900 text-sm rounded-lg w-full p-2.5"
          [class.is-valid]="isfullnameFieldValid" [class.is-invalid]="isfullnameFieldInvalid" />
        <div class="messages absolute" [class.active]="fullnameField!.touched && fullnameField!.invalid">
          @if (fullnameField!.hasError('required')){<div class="pb-4 pt-1 text-sm text-red-600">You must write
            something</div> }
          @if (fullnameField!.hasError('minlength')){<div class="pb-4 pt-1 text-sm text-red-600">At Least 4 letters
            please</div> }
          @if (fullnameField!.hasError('maxlength')){<div class="pb-4 pt-1 text-sm text-red-600">No more than 40
            letters</div> }
        </div>
      </div>

      <div>
        <label class="block mb-2 text-sm font-medium text-gray-900">Email address</label>
        <input type="email" formControlName="email"
          class="bg-gray-50 border-gray-300 text-gray-900 text-sm rounded-lg  w-full p-2.5"
          placeholder="john.doe@company.com" />
      </div>

    </div>


    <button [disabled]="form.invalid" [class.buttonDisabled]="form.invalid" type="submit"
      class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Save joined human
    </button>

  </form>
</div>
}
