<div class="flex w-full h-12">
  <app-navbar class="fixed w-full bg-xlight bg-opacity-80 backdrop-blur-sm"></app-navbar>
</div>

<div (click)="navToHome()" class="hover:cursor-pointer flex justify-center items-center py-4 px-10 pt-12">
  <img class="h-6" src="./../../../../assets/img/kohue-name-dark.svg" alt="">
</div>

<!-- <div class="flex justify-center items-center py-4 sm:px-10 pt-12">
  <img class="" src="./../../../../assets/img/maxi-mount.jpg" alt="">
</div> -->

<!-- <div class="flex justify-center items-center my-4 sm:mx-10 mt-12 aspect-[3/2] sm:aspect-[9/5] md:aspect-[11/5] lg:aspect-[13/5]"> -->


<!-- <div
  class="flex justify-center items-center my-4 sm:mx-10 mt-12 aspect-[3/2] sm:aspect-[9/5] md:aspect-[11/5] lg:aspect-[13/5] xl:aspect-[14/5]">
  <img class="inset-0 w-full h-full object-cover" src="./../../../../assets/img/maxi-mount.jpg" alt="">
</div> -->

<div
  class="flex justify-center items-center my-4 sm:mx-10 mt-12 aspect-[3/2]">
  <img class="inset-0 w-full h-full object-cover" src="./../../../../assets/img/maxi-mount.jpg" alt="">
</div>

<div class="pt-8">
  <div class="font-serif text-center text-2xl text-gray-900">
    ABOUT
  </div>
</div>


<div class="pt-8">
  <div class="px-4 sm:px-8 md:px-16 lg:px-44 xl:px-72 2xl:px-96 text-left text-base font-normal text-gray-900">
    Kohue Wines produces a limited collection of hand-crafted, high altitude mountain wines from the finest terroirs in
    the foothills of the Andes in Mendoza, Argentina.
    <br><br>
    This majestic region offers a unique synergy that nurtures naturally healthy vineyards. The high altitude, distinct
    soil types, glacial waters, and dry microclimate, allow berries to develop an incredible complexity of aromas and
    flavors characteristic of the terraces of the Andes.
    <br><br>
    With minimal intervention, we entrust nature to unveil the identity of each site, preserving the inherent qualities
    of the fruit. Grounded in years of winemaking experience and a deep respect for nature and its ecosystems, Kohue
    crafts singular wines that are profound and elegant, offering depth, complexity, and the ability to age beautifully
    over the decades.
    <br><br>
    Each year, the Kohue family embarks on a journey between two hemispheres, following the rhythm of the harvest—from
    Mendoza to Napa. Every bottle tells the story of their journey while capturing the incredible terroir of their
    native land.
    <br><br>
  </div>
</div>



<div class="pt-20">
  <div
    class="text-center sm:text-left text-lg px-4 sm:px-8 md:px-16 lg:px-44 xl:px-72 2xl:px-96  font-bold text-gray-900">
    THE NAME
  </div>
</div>

<div class="pt-8">
  <div class="px-4 sm:px-8 md:px-16 lg:px-44 xl:px-72 2xl:px-96 text-left text-base font-normal text-gray-900">
    Kohue, pronounced Ko-[weh], is the name of a remarkable native wild plant in the indigenous language, a true
    protagonist of the flora, fauna, and culture of Mendoza. With its vibrant yellow flowers and captivating aroma, it
    adorns and perfumes the majestic landscape beneath the Andes.
    <br>
    Chosen and protected as the province’s official plant, it plays a vital role in sustaining our soils and is renowned
    for its various medicinal properties, discovered by our ancestors.
    <br>
    Just like the plant that inspires our name, Kohue Wines embodies a deep respect for nature, tradition, and
    sustainability—honoring these values every step of the way.
    <br>
  </div>
</div>

<div class="pt-20"></div>





<div
  class="sm:gap-6 flex flex-row w-full bottom-0 text-black p-2 mt-12 text-sm bg-xlight bg-opacity-80 backdrop-blur-sm z-50">
<app-footer></app-footer>
</div>
