<div class="fixed w-full z-10">
  <app-navbarsigned>
  </app-navbarsigned>
</div>

@if(showPolicy == true) {
<app-shipping-policy-modal (showStayTuned)="fromShippingPolicy($event)"></app-shipping-policy-modal>
}

<div class="pt-14">


  <div class="m-auto min-w-80 max-w-4xl p-2  sm:p-6 md:p-8 text-center">

    <div class="text-lg flex justify-center mt-2 mb-2 uppercase">
      Your Exclusive Offer
    </div>


    <div class="grid grid-cols-3 border border-gray-500  shadow">
      <div class="col-span-1 ">
        <!-- <img class="p-2 rounded-t-lg max-h-52 m-auto" src="./../../../../assets/img/Botella-Kohue-2021-small.png" alt="malbec-2023" /> -->
        <img class="p-2 rounded-t-lg max-h-52 sm:max-h-72 m-auto" src="{{ monoproduct.imageMobile }}" />
      </div>
      <div class="col-span-2 flex flex-col sm:gap-2 text-sm sm:text-lg m-auto">
        <div class="font-semibold">
          {{ monoproduct.title }}
        </div>
        <div class="font-normal">
          2021 Kohue Malbec, 1 bottle (750ml)
        </div>

        <!-- <div class="font-semibold pt-2">
          ${{ monoproduct.price * quantities }}
        </div> -->


        <!-- <div class="text-center m-auto py-4">
      @if(quantities == 3) {
      <div class="text-center m-auto">
        <div class="flex gap-4 sm:gap-4">
          <div (click)="subtractOne()" class="minibutton">-</div>
          <div class="minibuttonReverse">{{ quantities }}</div>
          <div class="minibuttonOf">-</div>
        </div>
      </div>
      }
      @if(quantities == 1 || quantities == 2) {
      <div>
        <div class="flex gap-4 sm:gap-4">
          <div (click)="subtractOne()" class="minibutton">- </div>
          <div class="minibuttonReverse">{{ quantities }} </div>
          <div (click)="addOne()" class="minibutton">+ </div>
        </div>
      </div>
      }
      @if(quantities == 0) {
      <div class="text-center m-auto">
        <div class="flex gap-4 sm:gap-4">
          <div class="minibuttonOf">-</div>
          <div class="minibuttonReverse">{{ quantities }}</div>
          <div (click)="addOne()" class="minibutton">+</div>
        </div>
      </div>
      }
    </div> -->




        <div class="button m-auto" (click)="toCheckoutLink()">
          Checkout
        </div>


        <div class="font-light text-xs text-center pb-2 text-xdark pt-4">
          <span (click)="showShippingPolicy()" class="cursor-pointer underline">Shipping Policy.</span>
        </div>

      </div>
    </div>

  </div>
</div>


<app-footer></app-footer>
