<!-- <div class="fixed sm:gap-6 flex flex-row w-full bottom-0 text-black p-2 mt-12 text-sm bg-xlight bg-opacity-80 backdrop-blur-sm z-50">
  <div class="m-auto sm:m-0 sm:ml-4 gap-3 sm:gap-6 flex flex-row">
    <div>
      707-681-5128
    </div>
    <div class="underline">
      <a [href]=emailstring target="_blank">info&#64;kohuewines.com </a>
    </div>

  </div>
</div> -->

<div
  class="flex flex-row sm:gap-6 w-full bottom-0 text-black px-2 text-sm z-50">

  <div class="m-auto sm:m-0 sm:ml-4 gap-3 sm:gap-6 flex flex-row">
    <div class="bg-opacity-0">
      707-681-5128
    </div>
    <div class="underline bg-opacity-0">
      <a [href]=emailstring target="_blank">info&#64;kohuewines.com </a>
    </div>

  </div>
</div>


<!-- <div
  class="flex flex-row sm:gap-6 w-full bottom-0 text-black p-2 text-sm bg-xlight bg-opacity-80 backdrop-blur-sm z-50">

  <div class="m-auto sm:m-0 sm:ml-4 gap-3 sm:gap-6 flex flex-row">
    <div class="bg-opacity-0">
      707-681-5128
    </div>
    <div class="underline bg-opacity-0">
      <a [href]=emailstring target="_blank">info&#64;kohuewines.com </a>
    </div>

    <div class="bg-opacity-0">
      <div>info&#64;kohuewines qsdf qsdf qsdf qsdfq sdf .com </div>
    </div>

  </div>
</div> -->
