<app-navbar></app-navbar>

<div class="m-auto max-w-72">
  <div class="text-center font-bold text-xl">
    Join the Maillist !
  </div>

  <div class="flex flex-row py-8 text-center align-middle text-base font-normal text-gray-900 dark:text-white">

    <img src="./../../../../../assets/img/avatarmaximo.jpg" class="w-16 h-16 rounded-full hover:animate-spin mr-2"
      alt="Maximous" />
    To join our mailing list and learn more about future releases, please share your details below. Thank you for your interest!.
  </div>
</div>

<div
  class="m-auto w-2/3 max-w-sm min-w-80 p-4 bg-white  rounded-lg sm:border md:shadow-md sm:p-6 md:p-8 md:border-gray-200 dark:bg-gray-800 md:dark:border-gray-700">

  <div class="text-center text-lg">
    You have been added to our mailing list! <br><br>
    Sooner rather than later you will be contact on your email
  </div>
    <div class="mt-8" (click)="navToRoot()">
      <button
        class="button">
        Continue
      </button>
    </div>


</div>
