<app-navbar></app-navbar>

<!-- <div class="m-auto max-w-72">
  <div class="text-center font-bold text-xl">
    Join the Maillist !
  </div>

  <div class="flex flex-row py-8 text-center align-middle text-base font-normal text-gray-900 dark:text-white">

    <img src="./../../../../../assets/img/avatarmaximo.jpg" class="w-16 h-16 rounded-full hover:animate-spin mr-2"
      alt="Maximous" />
    To join our mailing list and learn more about future releases, please share your details below. Thank you for your interest!.
  </div>
</div> -->

<div
class="mt-20 m-auto w-3/4 max-w-sm sm:max-w-lg min-w-80 p-4 bg-transparent rounded-lg sm:p-6"
>

  <div class="text-center text-lg">
    Thank you for your interest in our project! <br><br>
    You have been added to our mailing list.
  </div>

  <div class="mt-36 text-red-500">
    Che al texto de arriba se le podría agregar algo como:<br>
    "for security reason just follow the link in the email sent it"..... O algo por el estilo<br><br>
    Para seguir el flujo del user clickear
    <div (click)="navToLinkFromEmail()" class="button">
      ir al link del email recibido
    </div>

  </div>



    <!-- <div class="mt-8" (click)="navToRoot()">
      <button
        class="button">
        Continue
      </button>
    </div> -->




</div>
