<div class="flex w-full h-12">
  <app-navbar class="fixed w-full bg-xlight bg-opacity-80 backdrop-blur-sm"></app-navbar>
</div>

<div (click)="navToHome()" class="hover:cursor-pointer flex justify-center items-center py-4 px-10 pt-12">
  <img class="h-6" src="./../../../../assets/img/kohue-name-dark.svg" alt="">
</div>

<!-- <div class="flex justify-center items-center py-4 sm:px-10 pt-12">
  <img class="" src="./../../../../assets/img/maxi-barrels.jpg" alt="">
</div> -->

<!-- <div class="flex justify-center items-center my-4 sm:px-10 mt-12 aspect-[3/2] sm:aspect-[5/3] md:aspect-[11/6]"> -->

<!-- <div
  class="flex justify-center items-center my-4 sm:mx-10 mt-12 aspect-[3/2] sm:aspect-[9/5] md:aspect-[11/5] lg:aspect-[13/5]  xl:aspect-[14/5]">
  <img class="inset-0 w-full h-full object-cover" src="./../../../../assets/img/maxi-barrels.jpg" alt="">
</div> -->

<div
class="flex justify-center items-center my-4 sm:mx-10 mt-12 aspect-[3/2]">
<img class="inset-0 w-full h-full object-cover" src="./../../../../assets/img/maxi-barrels.jpg" alt="">
</div>

<div class="pt-8">
  <div class="font-serif text-center text-2xl text-gray-900">
    WINES
  </div>
</div>

<div class="pt-8">
  <div class="px-4 sm:px-8 md:px-16 lg:px-44 xl:px-72 2xl:px-96 text-left text-base font-normal text-gray-900">
    Our portfolio features hand-crafted, single-vineyard Malbecs and Cabernet Sauvignons from the finest terroirs,
    nestled in the majestic foothills of the Andes.
    <br><br>
    We have explored every corner of the Mendoza wine country, meticulously selecting vineyard sites down to the precise
    rows—where old, wise vines—some of them over 100 years old, impart complexity and character.
    <br><br>
    Carefully tended by pioneering vintners, watched over by the soaring Andes Mountains, nurtured by sunlight, shaped
    by the wind and altitude, and rooted in ancient alluvial soils, these vines tell a story we are passionate about
    sharing.
  </div>
</div>


<div class="pt-20">
  <div class="text-center text-lg font-bold text-gray-900">
    Explore our site-driven Malbecs and Cabernet Sauvignons
  </div>
  <div class="text-center text-base font-normal text-gray-600">
    Released twice a year in Spring and Fall.
  </div>
</div>


<div class="pt-20 mb-16 sm:mb-28 w-full text-center px-8 sm:px-20">
  <div class="flex flex-col sm:flex-row max-w-[900px] m-auto">

    <div class="relative sm:w-1/2 aspect-square">
      <img class="absolute inset-0 w-full h-full object-cover" src="./../../../../assets/img/our-wines.jpg" alt="">
    </div>

    <div class="flex flex-col text-center sm:pl-4 md:pl-12 lg:pl-20 my-16 sm:my-20 sm:w-1/2">

      <div class="flex-initial">
        <div class="font-serif text-lg mb-2">
          Malbec
        </div>
        <div>
          Paraje Altamira, Uco Valley.
          <br>
          Vintage: <span class="underline font-bold">2021</span>
        </div>
      </div>

      <div class="grow h-12"></div>

      <div class="">
        <div class="font-serif text-lg mb-2">
          Cabernet Sauvignon
        </div>
        <div>
          Paraje Altamira, Uco Valley.
          <br>
          Vintage: <span class="underline font-bold">2021</span>
        </div>
      </div>

    </div>

  </div>
</div>


<div
  class="sm:gap-6 flex flex-row w-full bottom-0 text-black p-2 mt-12 text-sm bg-xlight bg-opacity-80 backdrop-blur-sm z-50">
<app-footer></app-footer>
</div>
