<nav class="bg-xdark hidden sm:block">
  <div class="flex justify-between py-1 px-3 sm:py-4 sm:px-8">

    <div (click)="navToHome()" class="my-auto">
      <img src="./../../../../assets/img/kohue-name-white.svg" class="h-2 sm:h-4 hover:cursor-pointer"
        alt="Kohue Wines" />
    </div>

    <div class="flex flex-row">
      <!-- @if(showWine){
      <div (click)="showWines()" class="button_navbar mr-1 uppercase">
        Hide Wine
      </div>
      }@if(!showWine){
      <div (click)="showWines()" class="button_navbar mr-1 uppercase">
        Shop Wine
      </div>
      } -->

      <!-- <div class="button_navbar uppercase"> -->
      <!-- <div (click)="showAccountHandler()" class="button_navbar uppercase"> -->
        <!-- Account
      </div> -->

      <!-- <div (click)="showCartFasterToggle()" class="navbar_cart">
        <div>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="w-8 h-8">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 00-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 00-16.536-1.84M7.5 14.25L5.106 5.272M6 20.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zm12.75 0a.75.75 0 11-1.5 0 .75.75 0 011.5 0z" />
          </svg>
        </div>
      </div> -->


      <!-- <div (click)="toggleSideMenu()" class="navbar_cart">
        @if(totalItems() > 0){
        <div class="absolute right-4 top-2 rounded-full h-5 w-5 bg-xbrown text-white font-light">{{ totalItems() }}
        </div>
        }
        <div>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="w-8 h-8">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 00-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 00-16.536-1.84M7.5 14.25L5.106 5.272M6 20.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zm12.75 0a.75.75 0 11-1.5 0 .75.75 0 011.5 0z" />
          </svg>
        </div>
      </div> -->

      <div (click)="alertCartStayAlert()" class="navbar_cart">
        <div>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="w-8 h-8">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 00-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 00-16.536-1.84M7.5 14.25L5.106 5.272M6 20.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zm12.75 0a.75.75 0 11-1.5 0 .75.75 0 011.5 0z" />
          </svg>
        </div>
      </div>



    </div>
  </div>
</nav>

<nav class="bg-xdark sm:hidden">

  <div class="max-w-screen-xl flex py-2 px-7">


    <div (click)="navToHome()" class="my-auto">
      <img src="./../../../../assets/img/kohue-name-white.svg" class="h-3 sm:h-4 hover:cursor-pointer"
        alt="Kohue Wines" />
    </div>

    <!-- <div (click)="navToHome()" class="flex-none w-1/6 my-auto">
      <img src="./../../../../assets/img/kohue-sello.svg" class="h-7 hover:cursor-pointer" alt="Kohue Wines" />
    </div> -->

    <div class="flex flex-1 gap-4 justify-end">
      <!-- @if(showWine){
      <div (click)="showWines()" class="button_navbar mr-1 uppercase">
        Hide Wine
      </div>
      }@if(!showWine){
      <div (click)="showWines()" class="button_navbar mr-1 uppercase">
        Shop Wine
      </div>
      } -->

      <!-- <div class="button_navbar uppercase"> -->
      <!-- <div (click)="showAccountHandler()" class="button_navbar uppercase"> -->
        <!-- Account
      </div> -->



      <!--<div (click)="toggleSideMenu()" class="navbar_cart">
        @if(totalItems() > 0){
        <div class="absolute right-4 top-2 rounded-full h-5 w-5 bg-xbrown text-brandgold font-light">{{ totalItems() }}
        </div>
        }
        <div>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="w-8 h-8">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 00-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 00-16.536-1.84M7.5 14.25L5.106 5.272M6 20.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zm12.75 0a.75.75 0 11-1.5 0 .75.75 0 011.5 0z" />
          </svg>
        </div>
      </div>-->

      <div (click)="alertCartStayAlert()" class="navbar_cart">
       <div>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="w-8 h-8">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 00-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 00-16.536-1.84M7.5 14.25L5.106 5.272M6 20.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zm12.75 0a.75.75 0 11-1.5 0 .75.75 0 011.5 0z" />
          </svg>
        </div>
      </div>



    </div>

  </div>

</nav>
