/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

.bodyBackground {
  @apply bg-xlight
}

.button {
  @apply text-brandgold text-center items-center bg-xdark hover:bg-xbrown focus:ring-1 focus:outline-none focus:ring-xlight font-medium rounded-md text-sm px-6 py-2;
}

.button_navbar {
  @apply text-brandgold text-center items-center bg-xdark hover:bg-xbrown focus:ring-1 focus:outline-none focus:ring-xlight font-medium rounded-md text-sm px-2 py-1 sm:px-6 sm:py-2;
}

:root {
  accent-color: rgb(75, 84, 253);;
}

input {
  outline-color: rgb(75, 84, 253);
}

/* :focus {
  border: 2px solid green;
} */

:focus-visible {
  /* border-radius: 20px; */
  /* border: 2px solid green; */
  border-color: rgb(75, 84, 253);;
}




