/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

.button {
  @apply text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 text-center;
}

:root {
  accent-color: rgb(75, 84, 253);;
}

input {
  outline-color: rgb(75, 84, 253);
}

/* :focus {
  border: 2px solid green;
} */

:focus-visible {
  /* border-radius: 20px; */
  /* border: 2px solid green; */
  border-color: rgb(75, 84, 253);;
}




