<div class="fixed w-full z-10">
  <app-navbarsigned>
  </app-navbarsigned>
</div>


<div class="pt-14">


  <div class="m-auto min-w-80 max-w-3xl p-2  sm:p-6 md:p-8 text-center">

    <div class="text-lg flex justify-center mt-20 mb-6 uppercase">
      Thanks for you order.
    </div>

    <!-- <div class="grid grid-cols-3 border border-gray-500  shadow">
      <div class="sm:block col-span-1 ">
        <img class="p-2 rounded-t-lg max-h-36 sm:max-h-48 m-auto" src="{{ monoproduct.imageDesktop }}" />
      </div>
      <div class="col-span-2 flex flex-col sm:gap-2 text-sm sm:text-lg m-auto">
        <div class="font-semibold">
          {{ monoproduct.title  }}
        </div>
        <div class="font-normal">
          {{ monoproduct.description  }}
        </div>
      </div>
    </div> -->

  </div>
</div>


<app-footer></app-footer>
