<nav class="bg-xdark hidden sm:block">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between py-1 px-3 sm:py-4 sm:px-8">

    <div (click)="navToHome()" class="flex-row">
      <img src="./../../../../assets/img/kohue-sello-name.svg" class="h-4 sm:h-7 hover:cursor-pointer"
        alt="Kohue Wines" />
    </div>

    <div class="flex-row">
      <button (click)="navJointhelist()" class="button_navbar mr-1">
        Join the List
      </button>
      <button (click)="navAcquire()" class="button_navbar">
        Acquire
      </button>
    </div>
  </div>
</nav>

<!-- <nav class="bg-xdark sm:hidden">

  <div class="max-w-screen-xl flex py-2 px-7 justify-center">

    <div (click)="navToHome()" class="">
      <img src="./../../../../assets/img/kohue-sello-name.svg" class="h-7 hover:cursor-pointer" alt="Kohue Wines" />
    </div>


  </div>

</nav> -->

<nav class="bg-xdark sm:hidden">

  <div class="max-w-screen-xl flex py-2 px-7">

    <div (click)="navToHome()" class="flex-none w-1/6">
      <img src="./../../../../assets/img/kohue-sello.svg" class="h-7 hover:cursor-pointer" alt="Kohue Wines" />
    </div>

    <div class="flex flex-1 gap-4 justify-end">
      <div class="">
        <button (click)="navJointhelist()" class="button_navbar">
          Join the List
        </button>
      </div>
      <div class="">
        <button (click)="navAcquire()" class="button_navbar">
          Acquire
        </button>
      </div>
    </div>

  </div>

</nav>
