<nav class="bg-white border-gray-200 dark:bg-gray-900 shadow">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-2">
    <div href="#" class="flex items-center space-x-2">
      <img src="./../../../../assets/img/avatarmaximo.jpg" class="w-8 h-8 rounded-full hover:animate-spin"
        alt="Maximous" />
      <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">Maximous wines</span>
    </div>
    <div class="flex md:order-2 space-x-3 md:space-x-0">
      <button (click)="navJointhelist()" class="button">
        Join the List
      </button>
      <!-- <button (click)="logOut()" class="button">
        Log Out
      </button> -->
    </div>
  </div>
</nav>
